@import './variavles.sass';
body {
    margin: 0;
    // width: 100vw;
    font-family: Arial, sans-serif;
    // overflow: hidden;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  .navbar-brand {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;
  }
  .nav-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
  }

  .nav-link:hover {
    color: $color-hover-color;
  }

  /* Responsive design */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .hamburger-menu {
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 30px;
      text-align: center;
      color: white;
      cursor: pointer;
      &:hover{
        span{
          color: $color-hover-color;
          opacity: 0;
        }
        .nav-links{
          display: flex;
          position: absolute;
          top: 50%;
          right: -20%;
          transform: translate(-50%,-50%);
          opacity: 1;
          transition: opacity 1s;
        }
      }
    }
  }

  @media screen and (min-width: 769px) {
    .hamburger-menu {
      display: none;
    }
  }